#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--blue5);
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: #fff; 
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #818ea0; 
}

#newsletter p span {
    color: #ffbd27;
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px 0 0 4px;
    outline: none;
}

#newsletter button {
    background-color: var(--blue3);
    color: #fff;
    white-space: nowrap;
    border-radius: 0 4px 4px 0;
}



@media (max-width: 799px) {
    #newsletter .form {
        width: 100%;
    }
}


@media (max-width: 477px) {
    #newsletter button {
        width: 80px;
        padding: 5px;
    }
}
